/* Main */
.iconBtn {
  display: block;
}

.iconBtn:hover {
  cursor: pointer;
  color: var(--primary-text-hover);
}

.iconBtn img {
  width: 40px;
  height: 40px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.bigIconBtn {
  font-size: 36px;
  padding: 32px 48px 36px;
  border-radius: 50%;
  background-color: inherit;
}

.bigIconBtn:hover {
 box-shadow:  rgb(0 0 0 / 10%) 0px -10px 10px 1px inset;
 cursor: pointer;
}

/* Page styles */

.PageRoot {
  width: 80%;
  max-width: 1170px;
  padding: 12px;
}

/* Start USERPAGE + FEEDPAGE */
.pageHeader.userPage {
  border-bottom: 1px solid var(--light-grey);
  display: grid;
  padding: 12px;
  grid-template-columns: 150px 1fr ;
}

.userAvt {
  width: 80%;
  max-width: 120px;
  overflow: hidden;
  padding-top: 80%;
}

.userAvt img {
  display: block;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.userTitle {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}

.userTitle > div:first-of-type {
  max-width: 75%;
}

.userName {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.statusLine {
  font-size: 0.9rem;
  font-style: italic;
}

.statusBtn {
  font-size: 16px;
  width: max-content;
  align-self: flex-end;
  padding: 4px 8px;
  box-shadow: 3px 3px 3px 3px transparent;
  transition: ease-out 0.1s;
}

.statusBtn:hover {
  cursor: pointer;
  padding-bottom: 8px;
  box-shadow: 3px 3px 3px 3px var(--light-grey);
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pageContainer > div {
  margin: 8px 0;
  padding: 4px;
  width: 375px;
  box-shadow: 3px 3px 3px transparent;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pageContainer > div:hover {
  box-shadow: 3px 3px 3px var(--light-grey);
  border: 1px solid var(--light-grey);
  cursor: pointer;
}

.image {
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.pageContainer>div:hover .authorContainer {
  opacity: 1;
}
.authorContainer {
  opacity: 0;
  transition: ease-in 1s;
  width: 100%;
  padding: 4px 16px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.384);
  color: #fff;
}

.authorContainer img {
  width: 20%;
  border-radius: 50%;
}

.authorContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
/* End USERPAGE + FEEDPAGE */

/* Start POSTPAGE */
.navPage {
  display: flex;
  justify-content: space-between;
  padding: 6px 16px;
}

.navPage img {
  width: 60px;
  border-radius: 50%;
}

.navPage div {
  display: flex;
  align-items: center;
}
.navLeft {
  padding-left: 12px;
}
.navLeft:hover {
  cursor: pointer;
}
.navLeft div {
  margin-left: 12px;
}
.postContent {
  max-height: 500px;
}

.postContent img {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--light-grey);
  max-width: 90%;
  height: inherit;
  max-height: 500px;
  object-fit: cover;
}

.postContent  > div {
  text-align: justify;
  padding: 24px;
}

.pageNoContent span {
  font-weight: 500;
  color: var(--primary-text);
}

.pageNoContent span:hover {
  color: var(--primary-text-hover);
  cursor: pointer;
}

.actionPanel {
  display: flex;
  justify-content: flex-start;
  padding: 16px 4px !important;
}
.actionPanel div {
  margin: 0 12px;
  font-size: 18px;
}

/* End POSTPAGE */

@media screen and (min-width: 1201px) {
  .userAvt {
    padding: 0 !important;
  }
  .userAvt img {
    position: inherit;
  }
}
@media screen and (max-width: 1200px) {
  /* Start USERPAGE + FEEDPAGE */
  .PageRoot {
    width: 100%;
    padding: 16px;
  }
  .pageContainer>div {
    width: 49%;
  }

  /* End USERPAGE + FEEDPAGE */
}

@media screen and (max-width: 600px) {

  /* Start USERPAGE + FEEDPAGE */
  .pageHeader.userPage {
    grid-template-columns: 100px 1fr;
  }

  .userTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
  }

  .statusBtn {
    font-size: 3vmin;
  }

  .pageContainer>div {
    width: 100%;
  }

  .userAvt img {
    left: 17px;
    top: 17px;
    width: 95px;
    height: 95px;
  }

  /* End USERPAGE + FEEDPAGE */
  /* Start POSTPAGE */
  .actionPanel {
    justify-content: space-between;
  }

  .actionPanel div {
    font-size: 18px;
  }

  /* End POSTPAGE */

}
