.authModal {
  width: 450px;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 12px;
}

.uploadModal {
  width: 600px;
  max-width: 100%;
  height: 100%;
  padding: 16px;
  grid-template-rows: 50px 1fr;
  display: grid;
}

.modalNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.modalNav .title{
  text-align: center;
  color: var(--primary-text);
  font-weight: 500;
  font-size: 1.5em;
  padding: 16px;
  border-bottom: solid 1px var(--light-grey);
}

.closeBtn:hover {
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.authModal .modalBody {
  justify-content: center;
  padding-bottom: 12px;
}

.modalBody > div {
  margin: 16px 0;
}

.modalBody div:last-of-type {
  margin-bottom: 8px;
}

.statusInput {
  width: 90%;
}

.photoHolder {
  max-width: 90%;
  max-height: 300px;
  overflow: hidden;
  margin: auto !important;
}

.avatarHolder {
  margin: auto;
  padding: 4px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.photoHolder img {
  max-width: 100%;
  max-height: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.avatarHolder .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.loginbutton {
  width: 250px;
  padding: 12px;
  border-radius: 3px;
  margin: 12px 0 0 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.GGbutton {
  background-color: var(--google-bg);
  color: #fff;
}

.GGbutton:hover {
  background-color: var(--google-hover);
}

.FBbutton {
  background-color: var(--fb-bg);
  background-image: var(--fb-gradient);
  color: #fff;
}

.FBbutton:hover {
  background-color: var(--fb-hover);
}

.loginbutton:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.loginbutton svg {
  padding-right: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.uploadButton {
  background-color: var(--primary);
  color: var(--primary-text);
  padding: 12px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000;
  font-weight: 500;
}

.button:hover:not(.disabled) {
  cursor: pointer;
  font-weight: 500;
}

.uploadButton.disabled {
  background-color: var(--primary-disabled);
  color: var(--primary-disabled-text);
}

.button span {
  margin-left: 16px;
  margin-right: 24px;
}

.errorText {
  color: var(--google-bg);
  font-weight: 500;
}