.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
  overflow-y: hidden;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text);
}

.App-header div:first-of-type {
  text-align: left;
}

.App-header div:last-of-type {
  text-align: right;
}

.App-header > div {
  padding: 12px
}
/* .App-navigation {} */

.App-logo {  font-weight: 500; font-size: 1.75rem; }

/* .App-action { } */

.App-container {
  overflow-y: auto;
  position: absolute;
  top: 60px;
  bottom: 50px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text);  
}

.App-link {
  color: #61dafb;
}
