body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box !important;
}

:root {
  --primary: rgb(230, 226, 174);
  --primary-text: rgb(99, 10, 10);
  --primary-text-hover: rgb(160, 22, 22);
  --primary-disabled: rgba(230, 226, 174, 0.356);
  --primary-disabled-text: rgb(102, 37, 37);
  --google-bg: rgb(221, 75, 57);
  --google-hover: rgb(231, 75, 55);
  --fb-bg: rgb(76, 105, 186);
  --fb-gradient: linear-gradient(#4C69BA, #3B55A0);
  --fb-hover: rgb(91, 123, 213);
  --grey: rgba(0,0,0,0.6);
  --light-grey: rgba(0,0,0,0.25);

}
